<body>
    <section></section>
    <section class="blogss" id="blogs">

        <h1 class="heading"> THE NOBEL PRIZE IN   <span>PHYSICS 2022</span> </h1>
        
            <div class="container">
        
                <div class="d-flex justify-content-center flex-wrap" ng-repeat="data in content">
        
                    <div class="boxs p-3 m-2" ng-repeat="data in data.Physics">
                        <div class="image">
                            <img src="images/aspect-2_3-464x696.webp" class="w-100 h-100"  alt="">
                        </div>
                        <div class="content p-2">
                            <h3>Alain Aspect</h3>
                            <a href="#!physics" class="link-btn">read more</a>
                            <div class="icons">
                                <a href="#"><i class="fas fa-user"></i>by admin</a>
                                <a href="#"><i class="fas fa-calendar"></i>19 dec, 2022</a>
                            </div>
                        </div>
                    </div>
        
                    <div class="boxs p-3 m-2">
                        <div class="image">
                            <img src="images/clauser-2_3-464x696.webp" class="w-100 h-100"  alt="">
                        </div>
                        <div class="content p-2">
                            <h3>John Clauser</h3>
                            <a href="#!physics" class="link-btn">read more</a>
                            <div class="icons">
                                <a href="#"><i class="fas fa-user"></i>by admin</a>
                                <a href="#"><i class="fas fa-calendar"></i>20 dec, 2022</a>
                            </div>
                        </div>
                    </div>
        
                    <div class="boxs p-3 m-2">
                        <div class="image">
                            <img src="images/zeilinger-2_3-464x696.webp" class="w-100 h-100"  alt="">
                        </div>
                        <div class="content p-2">
                            <h3>Anton Zeilinger</h3>
                            <a href="#!physics" target="_blank" class="link-btn">read more</a>
                            <div class="icons">
                                <a href="#"><i class="fas fa-user"></i>by admin</a>
                                <a href="#"><i class="fas fa-calendar"></i>20 dec, 2022</a>
                            </div>
                        </div>
                    </div>
        
                </div>
        
            </div>
        
        </section>
        <section class="blogss" id="blogs">

            <h1 class="heading"> THE NOBEL PRIZE IN    <span>CHEMISTRY 2022</span> </h1>
            
                <div class="container">
            
                    <div class="d-flex justify-content-center flex-wrap">
            
                        <div class="boxs p-3 m-2">
                            <div class="image">
                                <img src="images/bertozzi-2_3-464x696.webp" class="w-100 h-100"  alt="">
                            </div>
                            <div class="content p-2">
                                <h3>Carolyn Bertozzi</h3>
                                <a href="#" class="link-btn">read more</a>
                                <div class="icons">
                                    <a href="#"><i class="fas fa-user"></i>by admin</a>
                                    <a href="#"><i class="fas fa-calendar"></i>19 dec, 2022</a>
                                </div>
                            </div>
                        </div>
            
                        <div class="boxs p-3 m-2">
                            <div class="image">
                                <img src="images/meldal-2_3-464x696.jpg" class="w-100 h-100"  alt="">
                            </div>
                            <div class="content p-2">
                                <h3>Morten Meldal</h3>
                                <a href="#" class="link-btn">read more</a>
                                <div class="icons">
                                    <a href="#"><i class="fas fa-user"></i>by admin</a>
                                    <a href="#"><i class="fas fa-calendar"></i>20 dec, 2022</a>
                                </div>
                            </div>
                        </div>
            
                        <div class="boxs p-3 m-2">
                            <div class="image">
                                <img src="images/sharpless-2_3-464x696.webp" class="w-100 h-100"  alt="">
                            </div>
                            <div class="content p-2">
                                <h3>K. Barry Sharpless</h3>
                                <a href="#" class="link-btn">read more</a>
                                <div class="icons">
                                    <a href="#"><i class="fas fa-user"></i>by admin</a>
                                    <a href="#"><i class="fas fa-calendar"></i>20 dec, 2022</a>
                                </div>
                            </div>
                        </div>
            
                    </div>
            
                </div>
            
            </section>
            <section class="blogss" id="blogs">

                <h1 class="heading"> THE NOBEL PRIZE IN    <span>PHYSIOLOGY OR MEDICINE AND LITERATURE 2022</span> </h1>
                
                    <div class="container">
                
                        <div class="d-flex justify-content-center flex-wrap">
                
                            <div class="boxs p-3 m-2">
                                <div class="image">
                                    <img src="images/paabo-2_3-464x696.webp" class="w-100 h-100"  alt="">
                                </div>
                                <div class="content p-2">
                                    <h3>Svante Pääbo: The Nobel Prize in Physiology or Medicine 2022</h3>
                                    <a href="#" class="link-btn">read more</a>
                                    <div class="icons">
                                        <a href="#"><i class="fas fa-user"></i>by admin</a>
                                        <a href="#"><i class="fas fa-calendar"></i>19 dec, 2022</a>
                                    </div>
                                </div>
                            </div>
                
                            <div class="boxs p-3 m-2">
                                <div class="image">
                                    <img src="images/ernaux-2_3-464x696.webp" class="w-100 h-100"  alt="">
                                </div>
                                <div class="content p-2">
                                    <h3>Annie Ernaux: The Nobel Prize in Literature 2022</h3>
                                    <a href="#" class="link-btn">read more</a>
                                    <div class="icons">
                                        <a href="#"><i class="fas fa-user"></i>by admin</a>
                                        <a href="#"><i class="fas fa-calendar"></i>20 dec, 2022</a>
                                    </div>
                                </div>
                            </div>
                
                
                        </div>
                
                    </div>
                
                </section>
                <section class="blogss" id="blogs">

                    <h1 class="heading"> THE NOBEL   <span>PEACE PRIZE 2022</span> </h1>
                    
                        <div class="container">
                    
                            <div class="d-flex justify-content-center flex-wrap">
                    
                                <div class="boxs p-3 m-2">
                                    <div class="image">
                                        <img src="images/bialiatski-2_3-464x696.jpg" class="w-100 h-100"  alt="">
                                    </div>
                                    <div class="content p-2">
                                        <h3>Ales Bialiatski</h3>
                                        <a href="#" class="link-btn">read more</a>
                                        <div class="icons">
                                            <a href="#"><i class="fas fa-user"></i>by admin</a>
                                            <a href="#"><i class="fas fa-calendar"></i>19 dec, 2022</a>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="boxs p-3 m-2">
                                    <div class="image">
                                        <img src="images/memorial-2_3-464x696.jpg" class="w-100 h-100"  alt="">
                                    </div>
                                    <div class="content p-2">
                                        <h3>Memorial</h3>
                                        <a href="#" class="link-btn">read more</a>
                                        <div class="icons">
                                            <a href="#"><i class="fas fa-user"></i>by admin</a>
                                            <a href="#"><i class="fas fa-calendar"></i>20 dec, 2022</a>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="boxs p-3 m-2">
                                    <div class="image">
                                        <img src="images/center-2_3-464x696.jpg" class="w-100 h-100"  alt="">
                                    </div>
                                    <div class="content p-2">
                                        <h3>Center for Civil Liberties</h3>
                                        <a href="#" class="link-btn">read more</a>
                                        <div class="icons">
                                            <a href="#"><i class="fas fa-user"></i>by admin</a>
                                            <a href="#"><i class="fas fa-calendar"></i>20 dec, 2022</a>
                                        </div>
                                    </div>
                                </div>
                    
                            </div>
                    
                        </div>
                    
                    </section>
                    <section class="blogss" id="blogs">

                        <h1 class="heading"> THE SVERIGES RIKSBANK PRIZE IN   <span>ECONOMIC SCIENCES IN MEMORY OF ALFRED NOBEL</span> </h1>
                        
                            <div class="container">
                        
                                <div class="d-flex justify-content-center flex-wrap">
                        
                                    <div class="boxs p-3 m-2">
                                        <div class="image">
                                            <img src="images/bernanke-2_3-464x696.webp" class="w-100 h-100"  alt="">
                                        </div>
                                        <div class="content p-2">
                                            <h3>Ben S. Bernanke</h3>
                                            <a href="#" class="link-btn">read more</a>
                                            <div class="icons">
                                                <a href="#"><i class="fas fa-user"></i>by admin</a>
                                                <a href="#"><i class="fas fa-calendar"></i>19 dec, 2022</a>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="boxs p-3 m-2">
                                        <div class="image">
                                            <img src="images/diamond-2_3-464x696.webp" class="w-100 h-100"  alt="">
                                        </div>
                                        <div class="content p-2">
                                            <h3>Douglas W. Diamond</h3>
                                            <a href="#" class="link-btn">read more</a>
                                            <div class="icons">
                                                <a href="#"><i class="fas fa-user"></i>by admin</a>
                                                <a href="#"><i class="fas fa-calendar"></i>20 dec, 2022</a>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="boxs p-3 m-2">
                                        <div class="image">
                                            <img src="images/dybvig-2_3-464x696.jpg" class="w-100 h-100"  alt="">
                                        </div>
                                        <div class="content p-2">
                                            <h3>Philip H. Dybvig</h3>
                                            <a href="#" class="link-btn">read more</a>
                                            <div class="icons">
                                                <a href="#"><i class="fas fa-user"></i>by admin</a>
                                                <a href="#"><i class="fas fa-calendar"></i>20 dec, 2022</a>
                                            </div>
                                        </div>
                                    </div>
                        
                                </div>
                        
                            </div>
                        
                        </section>
</body>