<body>
    <section></section>
    <section class="blogsContent" id="blogs">
        <div class="container" ng-repeat="data in content">
            <div class="jumbotron" ng-repeat="data in data.literature">
                <div class="alainaspect">
                    <h2 class="testh1 heading">{{data.title}}</h2>
                    <p>{{data.content}}</p>
                    <h2 class="h2Physics">Annie Ernaux</h2>
                    <div class="row min-vh-50 align-items-center ">

                        <div class="col-md-4">
                            <img src="images/ernaux-2_3-464x696.webp" class="w-50" alt="">
                        </div>

                        <div class="col-md-8 text-center content text-md-start pl-md-5">
                            <span style="font-size: 20px;"><b>{{data.summary.placeofbirth}}</b></span>
                            <p style="font-size: 20px;">{{data.summary.content}}</p>
                        </div>

                    </div>
                    <br>
                    <h2>Work</h2>
                    <p>{{data.work}}</p>
                    <div class="row min-vh-50 align-items-center ">
                    <h2>Video during the award ceremony</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/s5Qy_r50bvk?clip=Ugkx4c0CwQSB6I00kzK7OmKLSFQ5aK-Bf9gI&amp;clipt=ELeAGRiX1Rw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</body>